body {
  background-color: #222;
}

.card {
  background-color: #333;
  color: #f4f4f4;
}

#task {
  color: #f4f4f4;
}

.collection-item {
  color: #888;
  background-color: #666;
}
.collection {
  color: #888;
  background-color: #666;
}
